body {
	padding: 0 20px;
	max-height: 600px;
}

#messagePanel {
	overflow: scroll;
}

#messageArea {
	list-style: none;
	height: 400px;
}

#messageArea li {
	
}

#messageArea li .nameDate {
	color: Green;
	font-size: small;	
}

#messageArea li .content {
	color: Blue;
}

#messageArea li .history {
	color: Grey;
}